@import './fonts/fonts.css';

body {
    font: 15px "Century Gothic", Futura, sans-serif;
    margin: 0 auto;
    background-color: maroon;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    height: 80px;

}

.titleH {
    margin: 0;    
}

.word-song {
    font-family: 'Montez', sans-serif;
    font-size: 4rem;
    color: mediumaquamarine;
}

.word-bird {
    font-family: 'Montez', sans-serif;
    font-size: 4rem;
    color: mediumvioletred;
}

.score {
    color: mediumaquamarine;
    margin-top: 40px;
    font-size: 1.5rem;
}

.question {
    margin: 0 100px;
}

.question__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1rem;
    color: rgb(101, 205, 170);
    justify-content: space-between;
    background: mediumvioletred;
    border-radius: 5px;
    min-height: 2rem;
}

.question__item {
    width: calc((100% - 200px)/6);
    height: 100%;
    line-height: 2rem;
}

.question__ans{
    display: flex;
    justify-content: space-between;
    background: rgba(199, 21, 133, 0.5);
    width: 100%;
    border-radius: 5px;
}

.bird-sound,
.question__sound {
    max-width: 800px;
    width: 100%;
    margin: 15px 50px;
}

.question__image {
    width: 14rem;
    height: 10rem;
    margin: 15px;
    border-radius: 10px;
}

.question__sound {
    margin: 30px 50px 0 0;
}

.question__bird {
    color: rgb(101, 205, 170);
    font-size: 2rem;
    margin: ;
}

.answer {
    display: flex;
}
.answer__list {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 20px 100px;
    background: rgba(199, 21, 133, 0.5);
    width: calc((100% - 220px)/2);
    border-radius: 5px;
    list-style: none;
    color: mediumaquamarine;
    font-size: 1.4rem;
}

.answer__type {
    margin: 0;
}

.answer__input {
    margin: 0 20px 0 10px;
}

.answer__item {
    list-style: none;
    height: 2rem;
    border: 1px solid rgba(199, 21, 133, 0.8);
    margin-left: -40px;
    height: 48px;
    line-height: 48px;
}

.answer__item:hover {
    background: rgba(199, 21, 133, 0.8);
    cursor: pointer;
}

.answer__info {
    background: rgba(199, 21, 133, 0.5);
    width: calc((100% - 220px)/2);
    height: 300px;
    border-radius: 5px;
    margin: 20px 100px 20px 10px;
}

.info-bird {
    display: flex;
}

hr {
    background-color: rgba(199, 21, 133, 0.8);
}
.name-bird {
    margin: 15px;
    color: mediumaquamarine;
}
.title, .title-lat {
    margin: 0;
}

.audio {
    margin-top: 10px;
}
.bird-text {
    font-size: 1rem;
    margin: 15px;
    color: mediumaquamarine;
    word-wrap: break-word;
    height: 40px;
}

.button-next {
    width: calc(100% - 200px);
    height: 45px;
    background: rgba(199, 21, 133, 0.5);
    border-radius: 5px;
    font-size: 1.5rem;
    line-height: 45px;
    margin: 0 100px 20px;
    color: rgb(101, 205, 170);
}

.button-next:hover {
    cursor: pointer;
}