@import './fonts/fonts.css';

body {
    font: 15px "Century Gothic", Futura, sans-serif;
    margin: 0 auto;
    background-color: rgba(124, 77, 15, 0.863);
    height: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.title-header {
    margin: 0;    
    font-family: 'Montez', sans-serif;
    font-size: 4rem;
}

.word-sound {
    color: black;
}

.word-bird {
    color: rgb(209, 166, 85);
}

.score {
    color: black;
    margin-top: 40px;
    font-size: 2rem;
}

.question__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    font-size: 1rem;
    color: black;
    justify-content: space-between;
    background: rgb(209, 166, 85);
    border-radius: 5px;
    min-height: 2rem;
}

.question__item {
    height: 100%;
    line-height: 2rem;
    overflow: hidden;
    flex: 1 1 auto;
}

.question__bird-block{
    display: flex;
    justify-content: space-between;
    background: rgb(209, 166, 85);
    border-radius: 5px;
}

.bird-sound,
.question__sound {
    width: 100%;
    margin: 15px 50px;
}

.question__image {
    max-width: 15rem;
    height: 10rem;
    margin: 15px;
    border-radius: 10px;
}

.question__bird-name {
    color: black;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.answer {
    display: flex;
    margin: 20px 0;
    min-height: 300px;
}
.answer__list {
    display: flex;
    flex-direction: column;
    background: rgb(209, 166, 85);
    width: 49%;
    border-radius: 10px;
    list-style: none;
    color: black;
    font-size: 1.4rem;
}

.dot {
    background: gray;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto 12px;
  }
  
  .green {
    background: green;
  }
  
  .red {
    background: red;
  }

.answer__type {
    margin: 0;
}

.answer__item {
    display: flex;
    list-style: none;
    height: 2rem;
    margin-left: -40px;
    height: 50px;
    line-height: 50px;
}

.answer__item:hover {
  background: white;
  cursor: pointer;
}

.answer__item:first-child:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.answer__item:last-child:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about-bird {
  background: rgb(209, 166, 85);
  max-width: 49%;
  height: 300px;
  border-radius: 10px;
  margin-left: 20px;
}

.bird__info {
    display: flex;
}

.hidden {
    display: none;
    visibility: hidden;
}
.visible {
    display: block;
    visibility: visible;
    min-height: 300px;
    height: 100%;
}

.bird-name {
    margin: 15px auto;
    color: black;
    width: 40%;
}

.title, .title-latin {
   text-align: center;
   margin: 0;
}

.audio {
    margin-top: 10px;
    max-width: 250px;
    width: 100%;
}
.bird-text {
    font-size: 1rem;
    margin: 5px 15px 15px;
    color: black;
    word-wrap: break-word;
    height: 40px;
    text-align: justify;
}

.button {
  margin: 0 0 20px;
}
.button-next {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: 1.5rem;
    line-height: 45px;
}

.button-next:hover {
    cursor: pointer;
}

.active {
    color: black;
    background: rgb(209, 166, 85);
}

.passive {
  background: rgba(209, 166, 85, 0.3);
  color: gray;
}

.final__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: rgb(209, 166, 85);
    width: 100%;
    height: 800px;
    left: 0;
    top: 0;
    overflow: hidden;
  }
  
  .final__wrapper-hidden {
    display: none;
  }
  
  .final_image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .final_image-none {
    color:  black;
    font-size: 2rem;
    display: none;
    border-radius: 20px;
    margin: 10px auto 0;
  }

  .final {
    font-family: 'Montez', sans-serif;
    color:  grey;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    line-height: 0.3rem;
    text-decoration: none;
    margin: 250px auto 30px;
  }
  
  .final-number {
    color: black;
  }
  .rhap_container {
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    top: 15px;
    left: -30px;
  }
  
  .rhap_progress-section {
    position: absolute;
    left: 100px;
    top: 20px;
    width: 90%;
  }
  
  .rhap_current-time {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;

  }
  
  .rhap_progress-container {
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .rhap_progress-bar {
    background-color: black;
  }
  
  .rhap_progress-indicator {
    left: 0%;
    height: 10px;
    background: rgb(208, 212, 212);
    position: relative;
  }
  
  .rhap_time {
    display: block;
    position: absolute;
    right: 0%;  
  }
  
  .rhap_additional-controls {
    display: none;
  }
  
  .rhap_forward-button,
  .rhap_rewind-button {
    display: none;
  }
  
  .rhap_volume-controls {
    display: block;
    position: absolute;
    left: 60px;
    top: 12px;
    border-radius: 50%;
  }

  .rhap_volume-button {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(209, 166, 85);
    color:  rgb(209, 166, 85);
    border-radius: 50%;
    background: white;
    font-size: 1.4rem; 
    outline: none;
  }

  .rhap_play-pause-button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0;
    outline: none;
  }
  
  .rhap_play-pause-button > svg {
    width: 50px;
    height: 50px;
    color: white;
  }

  .audio .rhap_progress-container {
    max-width: 300px;
    width: 85%;
  }

  .audio .rhap_time {
    right: 15%;  
  }
   
  @media all and (max-width: 1300px) {    
    .rhap_container {
      top: 15px;
      left: 0px;
    }

    .rhap_progress-container {
      max-width: 700px;
      width: 95%;
    }
        
    .rhap_time {
      right: 5%;
    }

    .audio .rhap_progress-container {
      max-width: 300px;
      width: 50%;
    }
  
    .audio .rhap_time {
      right: 50%;  
    }

    .about-bird {
      height: 330px;
    }

    .answer__item {
      height: 55px;
    }
  }

  @media all and (max-width: 1000px) {    
    .rhap_progress-container {
      max-width: 600px;
      width: 85%;
    }

    .rhap_time {
      right: 15%;
    }
    
    .audio .rhap_progress-container {
      max-width: 600px;
      width: 95%;
    }
  
    .audio .rhap_time {
      right: 5%;  
    }

    .about-bird {
      height: 524px;
    }

    .bird__info {
      flex-direction: column;
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
  }
  
    .bird-name {
      width: 90%;
  }

    .title, .title-latin {
      text-align: center;
  }

    .question__image {
      margin: 15px auto;
    }

    .answer__item {
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media all and (max-width: 800px) {    
    .rhap_progress-container {
      max-width: 400px;
      width: 70%;
    }

    .rhap_time {
      right: 30%;
    }
   
    .audio .rhap_progress-section {
      max-width: 600px;
      width: 100%;
    }
    .audio .rhap_progress-section {
      max-width: 380px;
      width: 93%;

    }
    .audio {
      max-width: 450px;
      width: 100%;
    }
  
    .audio .rhap_time {
      right: 7%;  
    }

    .answer {
      flex-wrap: wrap;
  }
  
    .answer__list {    
      width: 100%;
      margin: 0 auto 20px;
    }

    .about-bird {
      max-width: 100%;
      margin: 0 auto 20px;
    }    

    .answer__item {
      height: 50px;
      line-height: 50px;
   }
}

@media all and (max-width: 600px) {    
    .question__bird-block{
      flex-wrap: wrap;
    }
  
    .question__image {
      margin: 15px auto;
    }

    .bird__info {
      flex-direction: column;
    } 
    .audio .rhap_progress-section {
      max-width: 300px;
      width: 70%;

    }
    .audio {
      max-width: 350px;
      width: 100%;
    }
  
    .audio .rhap_time {
      right: 0%;  
    }
  }

@media all and (max-width: 450px) {    
  .answer__item {
    font-size: 1rem;
    height: 1.2rem;
    height: 25px;
    line-height: 25px;
  }
  .final {
    font-size: 2rem;
    margin: 100px auto 50px;
  }

  .final_image-none {
    text-align: center;
  }

  .title-header {
    font-size: 3rem;
    margin-top: 20px;
  }

  .container {
      margin: 0 25px;
    }
    
    .rhap_container {
      height: 100px;
    }

    .rhap_progress-section {
      position: absolute;
      left: 0px;
      top: 60px;
      width: 100%;
    }

    .rhap_progress-container {
      max-width: 300px;
      width: 100%;
    }
        
    .rhap_time {
      right: 0;
    }

    .rhap_progress-container {
      max-width: 900px;
      overflow: hidden;
      border-radius: 5px;
    } 

    .about-bird {
      height: 635px;
    } 
}